<!DOCTYPE html>
<html lang="en">
<%- include('partitial/head.ejs', { pageTitle: 'approval form',  pageSpecificCSS: '/css/approval_form.css' }) %>
<body>
    <h1>Form</h1>

    <p> invitee id: <%= inviteeId %>
        fname: <%= invitee.first_name %>
    </p>

    <img src="https://play-lh.googleusercontent.com/F08xzOXf7dciZyw-BgIKalkQlkpCmAzQMfaTa2B-lc4yp-05O80XWUCntHkGH61CwyM" >

    <div class="form">
    <form method="post" action="/api/approval/<%= inviteeId %>">
      <fieldset>
      <legend>אישור הגעה</legend>

      <p>שלום <%= invitee.first_name %> <%= invitee.last_name %> אנא אשר הגעתך</p>

        <div class="check">
          <p>האם אתה מגיע? </p>
          <input type="radio" name="is_coming" value="true">
          <label>כן</label>
          <input type="radio" name="is_coming" value="false">
          <label>לא</label>
        </div>

        <br>
        <label>מספר האנשים שמגיעים:</label>
        <input type="number" name="number_of_people_arriving" min="0" max="6">

        <input type="submit" value="Send">

      </fieldset>
    </form>
  </div>
  <%- include('partitial/footer.ejs') %>
