<!DOCTYPE html>
<html lang="en">
<%- include('partitial/head.ejs' , { pageTitle: 'Approval form', pageSpecificCSS: '/css/approval_form.css' }) %>
<body>
    <div class="container" id="container">
		<div class="form-container log-in-container">
			<form method="post" action="/api/approval/<%= eventId%>/invitee/<%= invitee._id %>">
				<h1>אישור הגעה</h1>
				<span>אנא אשר הגעתך</span>

                <div class="check" id="radioGroup">
                    <p>האם אתה מגיע? </p>

                    <div class="wrap">
                    <input type="radio" name="is_coming" value="true" onclick="toggleInput(true)">
                    <label>כן</label>
                    </div>

                    <div class="wrap">
                    <input type="radio" name="is_coming" value="false" onclick="toggleInput(false)">
                    <label>לא</label>
                    </div> 

                </div>

        <br>
        <label>האם אתה מגיע עם עוד אנשים, אם כן עם כמה?</label>
        <input id="number_of_people_arriving_input" type="number" name="number_of_people_arriving" min="0" max="6" value="0" disabled>

        <input type="submit" value="שלח">

		</form>
		</div>

		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
                    <img src="<%= invitee.event.image.img_url %>">
				</div>
			</div>
		</div>
	</div>

    <script>
        function toggleInput(isComing) {
            var countInput = document.getElementById('number_of_people_arriving_input');
            if (!isComing) {
            // If not coming, disable and set the value to 0
            countInput.value = 0;
        }

        countInput.disabled = !isComing;
        }
    </script>

    <%- include('partitial/footer.ejs') %>
